page-feedhistory {
    &.ion-page {
        font-family: 'ralewayregular', sans-serif;
    }
    .bar-button,
    .bar-buttons {
        color: #aec6d5;
        position: absolute;
    }
    .bar-buttons {
        right: 3.2em;
        top: 1.2em;
    }
    .back-button {
        z-index: 1000;
    }
    .toolbar-title {
        font-family: 'ralewaybold', sans-serif;
        color: #aec6d5;
        width: 100%;
        text-align: center;
        font-size: 1.6em;
    }

    .content {
        text-align: center;
    }

    .item {
        margin: .6em 0;
    }

    .item-block {
      align-items: flex-start;
    }

    ion-avatar {
        .icon {
          background: linear-gradient(to right top, #38d6c8 0%,#05a8ff 30%,#7ed2ff 100%);
          box-shadow: 0px 7px 17px 0px rgba(60, 50, 101, 0.33);
          border-radius: 5px;
          padding: .9em .2em;
          height: 4em;
          width: 4em;
          margin-top: 1em;
        }
    }

    .date {
        font-weight: bold;
        color: darkgray;
        margin: .4em;
    }


    .comment {
        word-wrap: break-word;
        white-space: pre-wrap;
    }

    .happy_container {
        text-align: left;
        margin-top: .5em;
    }

    .happy {
        width: 2em;
    }

    .infoSection {
        display: inline-block;
        font-size: 0.8em;
        width: 100%;
    }
    .iconSection {
        display: flex;
        text-align: center;
        width: 100%;
        .iconContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 .27em;
            height: 4em;
            border: 1px solid #d7e0dd;
            border-radius: 5px;
            margin-right: .5em;
            .icon {
                width: 2.5em;
                margin: 0.5em auto 0;
            }
            .breast {
                font-size: 0.6em;
                color:#7b4cc5;
                text-overflow: ellipsis;
                width: 100%;
                overflow: hidden;
            }
            .time {
                font-size: 0.6em;
                color:#6c98b3;
            }
        }
    }



}
