<ion-header>

    <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Alimentar</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="saveData()">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>


</ion-header>


<ion-content>
  <div>
    <div class="feed_method" (click)="setFeedMethod('breast')" [ngClass]="{'selected': currentFeedMethod == 'breast'}">
      <img src="assets/img/eat_breast.png" class="icon"/>
    </div>
    <div class="feed_method" (click)="setFeedMethod('bottle')" [ngClass]="{'selected': currentFeedMethod == 'bottle'}">
      <img src="assets/img/eat_bottle.png" class="icon"/>
    </div>
    <div class="feed_method" (click)="setFeedMethod('solid')" [ngClass]="{'selected': currentFeedMethod == 'solid'}">
      <img src="assets/img/eat_solid.png" class="icon"/>
    </div>

  </div>

  <ion-chip class="info" *ngIf="repository.cardsData.nextFeed.happy > 0">
    <!-- <div class="icon_container">
      <img [src]="'assets/img/eat_'+ this.repository.cardsData.nextFeed.type + '_b.png'" class="icon"/>
    </div> -->
    <div class="info_container">
      <div class="title">
        ALIMENTACIÓN ANTERIOR
      </div>
      <div>
        {{ previousFeedText }}
      </div>
    </div>
  </ion-chip>

  <div>
      <ion-input placeholder="Añadir comentario" [(ngModel)]="comment"></ion-input>
  </div>

  <div *ngIf="currentFeedMethod == 'breast'">

    <div class="feed_when">
      <div class="feed_now" (click)="setFeedNow(true)">
        <img [src]="currentFeedNow?'assets/img/chk_selected.png':'assets/img/chk_unselected.png'" class="icon"/> Ahora
      </div>
      <div class="feed_before" (click)="setFeedNow(false)">
        <img [src]="currentFeedNow?'assets/img/chk_unselected.png':'assets/img/chk_selected.png'" class="icon"/> Introducir hora
      </div>
    </div>



    <div class="feed_timer" *ngIf="currentFeedNow">
      <div class="big_timer">
        {{ totalFeedingSeconds }}
      </div>
      <div class="small_timer" *ngIf="currentFeedMethod == 'breast'">
        <div>
          <div class="half">
            {{ leftFeedingSeconds }}
          </div>
          <div class="half">
            {{ rightFeedingSeconds }}
          </div>
        </div>
        <div>
          <div class="half">
            <button ion-button outline round (click)="startStopFeeding('l')">
              <span *ngIf="currentFeedBreast != 'l'">Izquierdo</span>
              <span *ngIf="currentFeedBreast == 'l'">Pausa</span>
            </button>
          </div>
          <div class="half">
            <button ion-button outline round (click)="startStopFeeding('r')">
              <span *ngIf="currentFeedBreast != 'r'">Derecho</span>
              <span *ngIf="currentFeedBreast == 'r'">Pausa</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="feed_form" *ngIf="!currentFeedNow">
      <ion-item>
        <ion-label>De dónde</ion-label>
        <ion-select [(ngModel)]="feedBreast">
          <ion-option value="l">Izquierdo</ion-option>
          <ion-option value="r">Derecho</ion-option>
          <ion-option value="b">Ambos</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>La alimentación empieza</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY HH:mm" pickerFormat="DD MMMM YYYY HH:mm" [(ngModel)]="feedStartTimeISOString"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>La alimentación acaba</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY HH:mm" pickerFormat="DD MMMM YYYY HH:mm" [(ngModel)]="feedEndTimeISOString"></ion-datetime>
      </ion-item>

    </div>
  </div>

  <div class="feed_form" *ngIf="currentFeedMethod == 'bottle'">
    <ion-item>
      <ion-label>Tipo</ion-label>
      <ion-select [(ngModel)]="feedBottleType">
        <ion-option value="formula">Fórmula</ion-option>
        <ion-option value="mother">Extraída</ion-option>
        <ion-option value="water">Agua</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Cuándo</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY HH:mm" pickerFormat="DD MMMM YYYY HH:mm" [(ngModel)]="feedStartTimeISOString"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Cantidad (ml)</ion-label>
      <ion-datetime displayFormat="YYYY" pickerFormat="YYYY" min="0001" max="0999" [(ngModel)]="feedQuantityISOString"></ion-datetime>
    </ion-item>

  </div>

  <div class="feed_form" *ngIf="currentFeedMethod == 'solid'">
    <ion-item>
      <ion-label>Cuándo</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY HH:mm" pickerFormat="DD MMMM YYYY HH:mm" [(ngModel)]="feedStartTimeISOString"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Alimento</ion-label>
      <ion-input [(ngModel)]="feedSolidName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Cantidad (gr)</ion-label>
      <ion-datetime displayFormat="YYYY" pickerFormat="YYYY" min="0001" max="0999" [(ngModel)]="feedQuantityISOString"></ion-datetime>
    </ion-item>

  </div>


</ion-content>
