page-doctorhistory {
    &.ion-page {
        font-family: 'ralewayregular', sans-serif;
    }
    .bar-button,
    .bar-buttons {
        color: #aec6d5;
        position: absolute;
    }
    .bar-buttons {
        right: 3.2em;
        top: 1.2em;
    }
    .back-button {
        z-index: 1000;
    }
    .toolbar-title {
        font-family: 'ralewaybold', sans-serif;
        color: #aec6d5;
        width: 100%;
        text-align: center;
        font-size: 1.6em;
    }

    .content {
        background: linear-gradient(#38d6c8, #c2e99e);
        text-align: center;
    }

    ion-avatar {
        .icon {
            border-radius: 10%;
            background-color: #c2e99e;
            width: 4em;

        }
    }

    .date {
        font-weight: bold;
        color: darkgray;
    }


    .comment {
        word-wrap: break-word;
        white-space: pre-wrap;
    }

}
