<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{repository.currentBaby.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-content class="card-background-page">

    <ion-card (click)="itemTapped('eat')" class="eat">
      <div class="card-title">Tendrá hambre en</div>
      <div class="card-subtitle">
        <div>
          <img [src]="'assets/img/' + lastFeedIcon + '.png'" class="icon"/>
          <div class="card-info">
            <div>
              <ion-chip>
                <ion-label>{{ lastFeedText }}</ion-label>
              </ion-chip>
            </div>
            <div>
            </div>
          </div>
        </div>
        <div class="timer">
        {{ hoursNextFeed }}
        </div>
      </div>
      <div class="card-data">
        <div>
          <div class="item-title">
            COMIDAS HOY
          </div>
          <div class="item-title">
            TIEMPO DESDE ÚLTIMA COMIDA
          </div>
          <div class="item-title">
            ÚLTIMA TOMA
          </div>
        </div>
        <div>
          <div class="item">
            {{ repository.cardsData.nextFeed.mealsToday }}
          </div>
          <div class="item">
            {{ hoursFromLastFeeding }}
          </div>
          <div class="item">
            <img [src]="'assets/img/happy' + repository.cardsData.nextFeed.happy+ '.png'" class="happy" *ngIf="repository.cardsData.nextFeed.happy > 0"/>
          </div>
        </div>
      </div>
    </ion-card>

    <ion-card (click)="itemTapped('sleep')" [ngClass]="{'sleep': repository.cardsData.nextSleep.status == 'SLEEPING', 'awake': repository.cardsData.nextSleep.status != 'SLEEPING'}">
      <div class="card-title"><span *ngIf="repository.cardsData.nextSleep.status == 'SLEEPING'">Se despertará en</span><span *ngIf="repository.cardsData.nextSleep.status != 'SLEEPING'">Tendrá sueño en</span></div>
      <div class="card-subtitle">
        <div>
          <img [src]="repository.currentBaby.sex=='boy'?(repository.cardsData.nextSleep.status == 'SLEEPING'?'assets/img/boy_sleep.png':'assets/img/boy_awake.png'):(repository.cardsData.nextSleep.status == 'SLEEPING'?'assets/img/girl_sleep.png':'assets/img/girl_awake.png')" class="icon"/>
          <div class="card-info">
            <div>
              <ion-chip>
                <ion-label *ngIf="repository.cardsData.nextSleep.happy > 0"><span *ngIf="repository.cardsData.nextSleep.status == 'SLEEPING'">DURMIENDO</span><span *ngIf="repository.cardsData.nextSleep.status != 'SLEEPING'">DESPIERTO</span></ion-label>
                <ion-label *ngIf="repository.cardsData.nextSleep.happy <= 0">NO HAY DATOS</ion-label>
              </ion-chip>
            </div>
            <div>
            </div>
          </div>
        </div>
        <div class="timer">
        {{ hoursNextSleep }}
        </div>
      </div>
      <div class="card-data">
        <div>
          <div class="item-title">
            HORARIO
          </div>
          <div class="item-title">
            TIEMPO <span *ngIf="repository.cardsData.nextSleep.status == 'SLEEPING'">DURMIENDO</span><span *ngIf="repository.cardsData.nextSleep.status != 'SLEEPING'">DESPIERTO</span>
          </div>
          <div class="item-title">
            ÚLTIMO SUEÑO
          </div>
        </div>
        <div>
          <div class="item">
              <img [src]="'assets/img/' + repository.cardsData.nextSleep.daytime+ '.png'" class="happy" *ngIf="repository.cardsData.nextSleep.happy > 0"/>
          </div>
          <div class="item">
            <span *ngIf="repository.cardsData.nextSleep.happy > 0">
              {{ hoursSleeping }}
            </span>
          </div>
          <div class="item">
            <img [src]="'assets/img/happy' + repository.cardsData.nextSleep.happy+ '.png'" class="happy" *ngIf="repository.cardsData.nextSleep.happy > 0"/>
          </div>
        </div>
      </div>
    </ion-card>

    <ion-card (click)="itemTapped('doctor')" class="doctor">
      <div class="card-title">Próxima cita médica en</div>
      <div class="card-subtitle">
        <div>
          <img src="assets/img/doctor.png" class="icon"/>
          <div class="card-info">
            <div>
              <ion-chip>
                <ion-label>{{ dateNextDoctor }}</ion-label>
              </ion-chip>
            </div>
            <div>
            </div>
          </div>
        </div>
        <div class="timer">
        {{ daysNextDoctor }}
        </div>
      </div>
      <div class="card-data">
        <div>
            NOTAS
        </div>
        <div class="notes">
            {{ repository.cardsData.nextDoctor.comment}}
        </div>
      </div>
    </ion-card>


  </ion-content>
</ion-content>

<ion-footer>
  <ion-chip>
    <div class="item">
      <img src="assets/img/eat_history.png" class="icon"/>
    </div>
    <div class="item">
      <img src="assets/img/sleep_history.png" class="icon"/>
    </div>
    <div class="item">
      <img src="assets/img/doctor_history.png" class="icon"/>
    </div>
  </ion-chip>
</ion-footer>
