page-home {
    &.ion-page {
        font-family: 'ralewayregular', sans-serif;
    }
    .bar-buttons {
        color: #aec6d5;
        position: absolute;
    }
    .back-button {
        z-index: 1000;
    }
    .toolbar-title {
        font-family: 'ralewaybold', sans-serif;
        color: #aec6d5;
        width: 100%;
        text-align: center;
        font-size: 1.6em;
    }
    .card-background-page {

        ion-card {
            display: flex;
            flex-direction: column;
            border-radius: 6px;
            box-shadow: 0px 9px 27px 0px rgba(60, 50, 101, 0.33);
            box-sizing: border-box;
            position: relative;
            text-align: center;
            cursor: pointer;
            overflow: hidden;
            margin: 0;
            margin-bottom: 2em;
            height: 20em;
            width: 100%;

            &.eat {
                background: linear-gradient(to left bottom, #38d6c8 0%,#05a8ff 30%,#7ed2ff 100%);
            }
            &.sleep {
                background: linear-gradient(to left bottom, #38d6c8 0%,#7442c2 30%,#bda5e2 100%);
            }
            &.awake {
                background: linear-gradient(to left bottom, #a3e42a 0%,#f0b014 30%,#f97dc8 100%);
            }
            &.doctor {
                background: linear-gradient(to left bottom, #38d6c8 0%,#42c297 30%,#c2e99e 100%);
            }
        }

        .card-title {
            top: 1em;
            font-size: 1.3em;
            width: 100%;
            font-weight: bold;
            color: #fff;
            padding: 1em;
        }

        .card-subtitle {
            display: flex;
            font-size: 1.8em;
            width: 100%;
            color: #fff;
            div {
              display: flex;
              flex-direction: column;
              align-items: center;
              flex: 1;
              justify-content: center;
            }
            .icon {
              width: 4em;
            }
            .timer {
                font-size: 1.4em;
                font-family: 'ralewaybold', sans-serif;
            }
        }

        .card-info {
            font-size: 1.1em;
            width: 100%;
            div {
                display:inline-block;
                text-align: center;
            }
            .chip {
                background-color: #c7eefa;
            }
            .label {
                color: #7a4bc5;
                font-size: .9em;
                font-family: 'ralewaymedium', sans-serif;
            }
        }
        .card-data {
            position: absolute;
            top: 14em;
            width: 100%;
            color:white;
            .item {
                font-size: 1.2em;
                font-family: 'ralewaybold', sans-serif;
                display:inline-block;
                width: 32%;
                img {
                    margin-top: .2em;
                }
            }
            .item-title {
                display:inline-block;
                width: 32%;
                font-size: .8em;
            }
            .notes {
                padding: 0 2em;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .happy{
                width: 1.5em;
                margin: 0 auto;
            }
        }

    }

    .footer-md::before {
        background-image: none;
    }

    .footer-md{
        background: linear-gradient(to top, #ffffff 60%, transparent 100%);
        text-align: center;
        height: 5em;
    }

    .footer {
      min-height: 60px;
      background: linear-gradient(to top, #ffffff 60%, transparent 100%);
          .chip-md {
            background: transparent;
            display: flex;
            height: auto;
            width: 100%;
            justify-content: space-around;
                .item {
                  display: flex;
                  width: 4em;
                  justify-content: center;
                  align-items: center;
                  margin-top: .5em;
                }
          }
    }

    .label-ios {
        font-family: 'ralewaymedium', sans-serif;
    }
}
