page-sleep {
    &.ion-page {
        font-family: 'ralewayregular', sans-serif;
    }
    .bar-button,
    .bar-buttons {
        color: #aec6d5;
        position: absolute;
    }
    .bar-buttons {
        right: 3.2em;
        top: 1.2em;
    }
    .toolbar-title {
        font-family: 'ralewaybold', sans-serif;
        color: #aec6d5;
        width: 100%;
        text-align: center;
        font-size: 1.6em;
    }

    .sleep_title {
        text-align: center;
        margin: 1em 0;
        .icon {
            margin: 0 auto;
            width: 12em;
        }
    }

    .content {
        &.sleep {
            background: linear-gradient(to left bottom, #38d6c8 0%,#7442c2 30%,#bda5e2 100%);
        }
        &.awake {
            background: linear-gradient(to left bottom, #a3e42a 0%,#f0b014 30%,#f97dc8 100%);
        }
        text-align: center;
    }





}
