// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
font-family: 'ralewaybold';
src: url('/assets/fonts/raleway-bold-webfont.woff2') format('woff2'),
     url('/assets/fonts/raleway-bold-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
  font-family: 'ralewayextrabold';
  src: url('/assets/fonts/raleway-extrabold-webfont.woff2') format('woff2'),
       url('/assets/fonts/raleway-extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ralewayextralight';
  src: url('/assets/fonts/raleway-extralight-webfont.woff2') format('woff2'),
       url('/assets/fonts/raleway-extralight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ralewayheavy';
  src: url('/assets/fonts/raleway-heavy-webfont.woff2') format('woff2'),
       url('/assets/fonts/raleway-heavy-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
font-family: 'ralewaylight';
src: url('/assets/fonts/raleway-light-webfont.woff2') format('woff2'),
     url('/assets/fonts/raleway-light-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
  font-family: 'ralewaymedium';
  src: url('/assets/fonts/raleway-medium-webfont.woff2') format('woff2'),
       url('/assets/fonts/raleway-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ralewayregular';
  src: url('/assets/fonts/raleway-regular-webfont.woff2') format('woff2'),
       url('/assets/fonts/raleway-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ralewaysemibold';
  src: url('/assets/fonts/raleway-semibold-webfont.woff2') format('woff2'),
       url('/assets/fonts/raleway-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ralewaythin';
  src: url('/assets/fonts/raleway-thin-webfont.woff2') format('woff2'),
       url('/assets/fonts/raleway-thin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
    font-family: 'ralewayregular', sans-serif;
}

ion-header {
  background-image: none;
}

.toolbar-background-md {
  background-color: #ffffff;
}

.toolbar-md {
  padding: .8em;
  height: 60px;
}

.header-md .toolbar-background-md, .footer-md .toolbar-background-md {
  border: none;
}

.header-md {
  &::after {
    background-image: none;
  }
}

.scroll-content {
  padding: .5em .8em 0 .8em;
}

.menu-inner {
  font-family: 'ralewaybold', sans-serif;
  .toolbar-title-md {
    color: #829cac;
  }
}
