page-doctor {
    &.ion-page {
        font-family: 'ralewayregular', sans-serif;
    }
    .bar-button,
    .bar-buttons {
        color: #aec6d5;
        position: absolute;
    }
    .bar-buttons {
        right: 3.2em;
        top: 1.2em;
    }
    .back-button {
        z-index: 1000;
    }
    .toolbar-title {
        font-family: 'ralewaybold', sans-serif;
        color: #aec6d5;
        width: 100%;
        text-align: center;
        font-size: 1.6em;
    }

    .doctor_title {
        text-align: center;
        margin: 1em 0;
        .icon {
            margin: 0 auto;
            width: 8em;
        }
    }

    .content {
        background: linear-gradient(#38d6c8, #c2e99e);
        text-align: center;
    }

    .info {
        background-color: #c6ece9;
        width: 90%;
        height: 6em;
        padding: 0.5em;
        margin: 0 auto;
        color: #38d6c8;
        .icon_container{
            display: inline-block;
            margin: 0.5em 0.5em 0 1em;
            width: 6em;
            height: 4em;
            background-color: white;
            .icon {
                width: 100%;
                position:relative;
            }
        }
        .info_container {
            font-family: 'ralewaybold', sans-serif;
            display: inline-block;
            width: 100%;
            .title {
                font-weight: bold;
            }
        }
    }

}
